@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    --main-color: #3aad61;
    --text-color: #292538;
    --under-color: #495057;
    --bg: #e7eaf2;
    --box-bg: #fff;
    --white: #fff;
    --btn-color: linear-gradient(78.29deg, #3da43b 4.11%, #3aad61 117.86%);
}

body {
    width: 100%;
    height: 100%;
    background-image: url(./bg3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--bg);
    /* padding-bottom: 50px; */
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 990px;
    padding-inline: 20px;
    margin-inline: auto;
}

/* Utility Classes */

h1 {
    font-size: 3.5rem;
    font-weight: 600;
}

h2 {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--text-color);
}

p {
    font-size: 1.8rem;
    color: var(--under-color);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

hr {
    background: var(--text-color) !important;
}

.flex {
    display: flex;
    align-items: center;
}

.fl-col {
    flex-direction: column;
}

::placeholder {
    font-size: 1.5rem;
    font-weight: 500;
}

.primary-btn {
    width: 100%;
    height: 45px;
    color: var(--white);
    background-color: var(--main-color);
    border: 0;
    outline: 0;
    border-radius: 8px;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 0px 0px 18px -5px var(--main-color);
    transition: 0.7s ease;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.primary-btn:hover {
    background-color: #3aad61c7;
}

.input-field {
    width: 100%;
    outline: 0;
    color: var(--under-color);
    border: 2px solid var(--under-color);
    background-color: var(--box-bg);
    padding: 13px;
    border-radius: 8px;
}

.input-field:focus {
    border-color: #3aad61;
}

.text-elipses {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: none;
}


/* header */

header {
    width: 100%;
}

nav {
    padding: 20px;
    width: 100%;
    background-color: var(--bg);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.103);
}

.nav-title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: var(--text-color);
}

.main-title {
    width: 100%;
    padding-block: 30px;
    padding-left: 10px;
    justify-content: space-between;
}

.reset-btn  {
    width: 100px;
    height: 40px;
    font-size: 1.4rem;
    border: 2px solid var(--under-color);
    border-radius: 25px;
    background-color: var(--white);
    justify-content: center;
    cursor: pointer;
}

.main-title .dashborad-title h1 {
    font-size: 3.3rem;
    color: var(--text-color);
    margin-top: 10px;
}

.main-title .dashborad-title p {
    font-size: 1.7rem;
}

.dashboard {
    width: 100%;
}

.budgetSection {
    width: 100%;
    gap: 30px;
    justify-content: space-between;
}

.dashboard .total-balance {
    width: 60%;
    height: 200px;
    padding-inline: 30px;
    align-items: flex-start;
    justify-content: center;
    color: var(--white) !important;
    border-radius: 20px;
    background-image: url(./slicebge.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 25px #3aad61;
}

.total-balance .balance-title p {
    font-size: 2.2rem;
    color: var(--white) !important;
}

.total-balance .balance-amount {
    width: 100%;
}

.total-balance .balance-amount h1 {
    font-size: 4.6rem;
}

/* addBudget */

.addBudget,
.addExpense {
    width: 35%;
    gap: 20px;
    align-items: flex-start;
    background-color: var(--box-bg);
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.14);
}

.addBudget .budget-title {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--text-color);
}

.addBudget form {
    width: 100%;
    gap: 18px;
}

/* expenseSection */

.expenseSection {
    margin-top: 40px;
    width: 100%;
    justify-content: space-between;
}

.expense-list-box {
    width: 60%;
    align-self: flex-start;
    gap: 10px;
}

.income-expense-boxes {
    width: 100%;
    justify-content: space-between;
}

.incomebox,
.expensebox {
    width: calc(50% - 10px);
    height: 150px;
    padding: 25px;
    background: var(--box-bg);
    border-radius: 12px;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0px 0px 25px rgba(234, 255, 239, 0.486);
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.incomebox {
    background: rgba(120, 255, 154, 0.23);
    backdrop-filter: blur(75px);
}

.incomebox:hover {
    background-color: #78ff9abb;
}

.expensebox {
    background: rgba(242, 27, 63, 0.23);
    backdrop-filter: blur(75px);
}

.expensebox:hover {
    background-color: #f21b3f75;
}

.income-expense-boxes>div>h2 {
    font-size: 1.7rem;
    color: var(--under-color);
}

.income-expense-boxes>div>h1 {
    font-size: 3.5rem;
    color: var(--text-color);
}

/* addExpense */

.addExpense {
    align-self: flex-start;
}

.addExpense .expense-title {
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
}

.addExpense form {
    width: 100%;
    align-items: flex-start;
    gap: 15px;
}

.addExpense>form>div {
    width: 100%;
}

.addExpense form div label {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--under-color);
}

.addExpense form div input {
    margin-top: 7px;
}

.addExpense form button {
    margin-top: 20px;
}

/* expenseList  */

.expenseList {
    width: 100%;
    /* border-top: 1px solid var(--text-color); */
}

.listITems {
    gap: 15px;
    padding-bottom: 20px;
}

.listITems .item {
    width: 100%;
    background: var(--box-bg);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.14);
    justify-content: space-between;
}

.listITems .item .list-expense-title-desc {
    width: 75%;
    justify-content: space-between;
    gap: 3px;

}

.listITems .item .list-expense-title-desc .list-expense-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
}

.list-expense-title-desc .list-expense-desc {
    font-size: 1.4rem;
    color: var(--under-color);
}

.list-expense-amount {
    width: 20%;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
    /* border-left: 1px solid var(--text-color); */
}

.list-expense-amount span{
    font-size: 1.8rem;
    font-weight: 600;
}

.list-expense-amount .date {
    font-size: 1.3rem;
    color: var(--under-color);
}

.list-text {
    align-items: flex-start;
}

#delete, #edit {
    width: 8%;
    padding: 10px;
    font-size: 1.4rem;
    color: var(--white);
    background-color: #e63946;
    border: 0;
    outline: 0;
    border-radius: 6px;
    cursor: pointer;
}

#edit {
    background-color: #3aad61;
    font-size: 1.3rem;
}

footer {
    margin-top: 30px;
    padding: 30px;
    justify-content: center;
}

.footer-text {
    font-size: 1.4rem;
    color: var(--under-color);
}

.footer-social-icons {
    gap: 20px;
}

.footer-social-icons a ion-icon {
    font-size: 2.2rem;
    color: var(--under-color);
}


 /* responsiveness */

 @media (max-width: 980px) {
    .container {
        max-width: 880px;
    }
}

@media (max-width: 780px) {

    html {
        font-size: 57%;
    }

    .container {
        max-width: 100%;
    }

    .budgetSection {
        flex-direction: column;
    }

    .dashboard .total-balance,
    .addBudget {
        width: 100%;
    }

    .expenseSection {
        flex-direction: column;
    }

    .expense-list-box {
        width: 100%;
    }

    .addExpense {
        width: 100%;
    }

    .income-expense-boxes {
        width: 100%;
        gap: 20px;
        flex-direction: column;
    }

    .incomebox,
    .expensebox{
        width: 100%;
    }
}

@media (max-width: 650px) {
    html {
        font-size: 50%;
    }

    ::placeholder {
        font-size: 1.7rem;
    }

    h2{
        font-size: 1.4rem !important;
    }

    .listITems .item .list-expense-title-desc {
        width: 70%;
    }

    .incomebox h2 {
        font-size: 2rem !important;
    }
    .expensebox h2{
        font-size: 2rem !important;
    }

    #delete, #edit {
        width: 11%;
        padding: 0px;
        height: 30px;
    }

    .main-title h2 {
        font-size: 2.1rem !important;
    }

    #reset {
        width: 70px;
        border-radius: 15px;
    }
}



/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }